* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f9f9f9;
  color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 280px;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

#text {
  padding: 8px 8px 8px 12px;
  border-radius: 15px;
  border: none;
  outline: none;
}

#btn {
  width: 50px;
  padding: 8px;
  border-radius: 15px;
  border: none;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}

ol {
  padding-left: 10px;
  margin-top: 20px;
}
ol li {
  padding: 4px 20px 4px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  border-radius: 10px;
  position: relative;
  background-color: rgba(255 255, 255, 0.1);
}

li span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: rgba(255 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

li span:hover {
  background-color: red;
  cursor: pointer;
  border-radius: 10px;
}
@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }
  .container {
    width: 100%;
  }

  #text {
    width: 100%;
    margin-bottom: 10px;
  }
  #btn {
    width: 100%;
  }
  ol li {
    width: 100%;
  }
}
